
# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE / Editor configs
.idea/
.vscode/

# OS files
.DS_Store

# Matplotlib cache
.cache/
